.adform {
  max-width: fit-content;
  margin: 15px auto;
  padding: 80px;
  background-color: ghostwhite;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.adform div{
  max-width: 400px;
  margin: 4px auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.adform h1 {
  text-align: center;
  margin-bottom: 1.5px;
  color: #333;
  padding: 10px; 
}

.inputfields {
  display: flex;
  flex-direction: column;
}

.contents {
  display: flex;
  flex-direction: column;
  
  width: 400px;
}

input,
select,
textarea {
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

button[type="submit"] {
  width: 360px;
  background-color: skyblue;
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
  border-radius: 25px;
}

button[type="submit"]:hover {
  background-color: darkblue;
}
